@import "variables";
@import "mixins";

.game {
	width: 500px;
	height: 500px;
	background-color: $white;
	@include center(column);
	border-radius: $bord/2;
	background-color: $black;
}

.welcome {
	@include center(column);
	width: 90%;
	text-align: center;
}
